@import './reset.css';
body{
    background: #E5E5E5;
}
main{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100vh;
    background: #E5E5E5;
}
.entrada{
width: 70%;
height: 100%;
}
.entrada:first-child{
    position: relative;
    top: 20px;
 }
.body-contenido{
    display: flex;
    justify-content: center;
    height: 100%;
   
}
.body-contenido .contenido{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    height: 100%;
    position: relative;
    
}

.contenido .acciones  label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;

}
.contenido  .acciones{
   
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.contenido .acciones .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    
}
.contenido  .acciones .btn .uno{
    gap: 8px;
    width: 228px;
    height:50px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

/* White */

color: #FFFFFF;
}
.contenido  .acciones .btn .dos{
    gap: 8px;
    width: 228px;
    height:50px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* Dark blue/dark-blue-300 */
    
    color: #0A3871;
}
.entrada section textarea{
    width: 577px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    border: none;
    background-color: #E5E5E5;
    /* Dark blue/dark-blue-300 */
    outline: none;
    color: #0A3871;
}




aside{
    width: 30%;
    height: 100%;
}
.no-date{
    background: #E5E5E5;
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
}
.no-date section{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: relative;
    right: 0px;;
    height: 100%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.no-date section img{
    width: 336px;
}
.no-date section label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
        /* or 29px */
    
     text-align: center;
    
     /* Gray/gray-500 */
    
     color: #343A40;
}
.no-date section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.date{
    margin-top: 30px;
    margin-right: 30px;
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 32px;
    width: 400px;
    height: 100%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.date section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 60px 0px;
    align-items: center;
}
.date section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;
    padding: 20px;
}
.date section button{
    gap: 8px;
    width: 228px;
    height:50px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* Dark blue/dark-blue-300 */
    
    color: #0A3871;
}
footer{
    margin-top: 50px;
    background: whitesmoke;
}
 .texto{
   text-align: center;
    padding: 30px 0px;
   
}

.show{
    background: #E5E5E5;
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
}


/* Estilos para dispositivos móviles (ancho de pantalla de hasta 767px) */
@media only screen and (max-width: 767px) {
    /* Estilos para dispositivos móviles aquí */
    main{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        background: #E5E5E5;
    }
    .entrada{
        width: auto;
        height: 100%;
        }
    .entrada section textarea{
        width: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        border: none;
        background-color: #E5E5E5;

        outline: none;
        color: #0A3871;
        margin: 10px;
    }
    .contenido .acciones div {
       align-content: center;
    }
    .contenido .acciones .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;  
        align-items: center; 
    }
    .contenido  .acciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0px;
    }
    aside{
        width: auto;
        height: auto;
    }
    .no-date{
        background: #E5E5E5;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .no-date section{
        width: auto;
       height: 600px;
    }
    .date{
        margin: 0px 15px;
        width:auto;
        height: 600px;  
        display: none;
    }
}
  /* Estilos para tablets (ancho de pantalla de 768px a 1023px) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets aquí */
  }